.about {
    // This will need to be fixed
    padding-top:100px;
    padding-bottom:100px;
    position: relative;

    h3,
    h4 {
        font-size: 7rem;
    }

    h3 {
        margin-left: 20px;
        margin-bottom:60px;
    }
    

    h4 {
        color:$primaryColor;
        position: absolute;
        top: 80px;
        z-index: -1;
    }

    .redCircle {
        background-color: $secondaryColor;
        position: absolute;
        top:130px;
        left:275px;
    }

    // a {
    //     border:none;
    // }

    h3,
    h4,
    p {
        font-family: $fontTwo;
        text-transform: uppercase;
    }

    div {
        display: flex;
        align-items: center;
        margin-bottom: 60px;

        p {
            width:65%;
            font-size: 3rem;
            line-height: 40px;
            margin-right: 100px;
            

            strong {
            font-family: $fontOne;
        }
    }

        img {
            width:300px;
            height:100%;
            border-radius: 50%;
            filter: grayscale(100%);
        }
    }










}