.contact {
    margin-top:180px;
    position: relative;
    

    h3,
    h4 {
        font-size: 7rem;
    }
    

    h4 {
        color:$primaryColor;
        position: absolute;
        margin-bottom: 0px;
        top: 15px;
        z-index: -1;
    }

    h3,
    h4,
    p {
        font-family: $fontTwo;
        text-transform: uppercase;
    }

    form {
        margin-top:120px;
        

        .formTop {
            display: flex;
            justify-content: space-between;
            margin-bottom:50px;
            input[type="email"],
            input[type="text"] {
                border:none;
                background-color: unset;
                border-bottom:8px solid $darkColor;
                // padding-right:170px;
                width:35%;
                padding-bottom:10px;
                font-family: $fontTwo;
                font-size: 2rem;
                text-transform: uppercase;
                
            }
        }

        .formBottom {
            textarea {
                margin-top: 30px;
                resize: none; 
                background-color: unset;
                width:100%;
                margin-bottom: 50px;
                border:none;
                border-bottom:8px solid $darkColor;
                font-family: $fontTwo;
                font-size: 2rem;
                text-transform: uppercase;
            }
           
        }
    }

    .socialContainer {
        display: flex;
        justify-content: space-between;
        margin-top: 90px;
    }



    .socialIcons {
        width:28%;
        display: flex;
        justify-content: space-around;

        .fab {
            color:$darkColor;
            font-size: 4rem;
        }

        .fab:hover {
        color: $secondaryColor;
        }

    }

    .email {
        display: flex;
        padding-right:60px;
        font-size:3rem;

        a {
            color:$darkColor;
            text-decoration: none;
        }

        a:active,
        a:hover {
            color:$secondaryColor;
        }
        

        span {
            display: block;
        }
        

        .designLine {
            width:1px;
            background-color: $darkColor;
            height:180px;
            margin:0 15px;
        }
    }

}