@media (max-width:923px) {

    //About
    .about {
        // margin-top:90px;

        div {
            flex-direction: column-reverse;

            p {
                margin-right:0px;
                text-align: center;
                margin-top:30px;
                width:90%;
            }
        }

        a {
            display: flex;
            justify-content: center;
            text-decoration: none;
        }
    }


    //Projects
    .projects {

        img {
            width:40%;
        }
    }
}

@media (max-width:850px){

    //Header 
    header {

        .navImg {
            flex-direction:column-reverse;

            img {
                width:100%;
                height:270px;
            }

            nav {
                margin-bottom:30px;
                
                ul {
                    justify-content: space-around;

                    li {
                        margin-left:unset;
                    }
                }
            }
        }

    }


}

@media (max-width:745px) {

    //Contact 
    .contact {

        .socialIcons {
            flex-direction: column;

            .fab {
                font-size: 3.5rem;
            }
        }
    }
}



@media (max-width:690px) {

    //Header 
    header {
        .circleContainer {
            justify-content: space-between;

            .designCircle {
                margin-left:unset;
            }
        }


    }

    //Projects
    .projects {

        div:nth-child(1){
            display: flex;
            flex-direction: column-reverse;

            img {
                width:100%;
                margin-left:unset;
                height:250px;
                margin-bottom:60px;
            }
        }   

        .oddGroup,
        .evenGroup {

            p:nth-child(3){
                font-size:2rem ;
            }

            p:nth-child(5){
                font-size:2rem ;
            }

            button {
                margin:0 10px;
            }
        }
    }

    //Skills 
    .skills {

        .skillsGrid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width:500px) {

    //Header 
    header {
        padding-top:25px;

        .navImg{

            nav {
                display: none;
            }
        }

        .menu-collapsed {
            display: inline-block;
            

            ul {
                justify-content: center;
                flex-direction: column;


                li {
                    margin-left: unset;
                    padding-top:30px;
                    height: 100px;
                }

                a {
                    color: $lightColor;
                    border-bottom: 1px solid $lightColor;
                }
            }
        }

        h2 {
            font-size: 3.5rem;
        }
    }

    //About
    .about {
        margin-top: 160px;

        h3,
        h4 {
            margin-top:120px;
        }

        .redCircle {
            display: none;
        }
    }


    //Projects 
    .projects {

        .oddGroup,
        .evenGroup {
            text-align: center;

            h4 {
                font-size: 3.5rem;
            }

            p:nth-child(3){
                padding:unset;
            }


            .oddLine,
            .evenLine {
                width:100%;

                
            }
        }

        .circleContainer {
            display: none;
        }
    }

    //Skills
    .skills {
        .designLineThic,
        .designLineThin {
            width:100%;
        }
    }

    //Contact
    .contact {
        
        .socialContainer {
           
            .email {
                padding-right:unset;
                font-size: 2rem;
            }
        }
    }
}

// @media(max-height:610px) {

//     //Mobile Nav 
//     .menu-collapsed {

//             ul {

//                 li {
//                     margin-left: unset;
//                     height: 20px;
//                 }
//             }
//         }

// }

@media(max-width:458px) {

    //Project
    .projects {

        .oddGroup,
        .evenGroup {

            button {
                margin-top:30px;
            }
        }
    }
}

@media (max-width:420px) {

    //About
    .about {

        padding-bottom: unset;

        h3,
        h4 {
            font-size: 5rem;
            text-align: center;
        }

        h4 {
            left: 20%;
        }

        div {
            p {
                font-size: 2rem;
                line-height: 35px;
            }

            img {
                width:220px;
            }
        }

        .redCircle {
            top: 115px;
            left: 290px;
        }
    }


    //Projects
    .projects {

        h3 {
            font-size: 5rem;
            margin-bottom: unset;
            text-align: center;
        }
    }

    //Skills
    .skills {

        h3 {
            font-size: 5rem;
            text-align: center;
        }

        
    }

    //Contact
    .contact {

        h3,
        h4 {
            font-size: 5rem;
            text-align: center;
        }

        h4 {
            left:20%;
        }

        form {

            .formTop {
                flex-direction: column;
                align-items: center;

                input[type="email"],
                input[type="text"] {
                    width:100%;
                }

                input[type="text"] {
                    margin-bottom: 30px;
                }
            }
        }

        .socialIcons {

            .fab {
                font-size: 2.2rem;
            }
        }

    }
}

@media (max-width:363px) {

    //Header 
    header {


        h1 {
            font-size:5.5rem;
        }

        p {
            font-size: 3rem;
            text-align: center;
        }
    }

    

    //Skills 
    .skills {

        .skillsGrid {
            grid-template-columns: repeat(1, 1fr);
        }
    }

}