//Font

$fontOne: 'Gilroy ExtraBold';
$fontTwo: 'Gilroy Light';
// $fontThree:;
$fontFour: Arial, Helvetica, sans-serif;



// Color 

$backgroundColor: #d9d9d9;

$primaryColor:#bdefff;
$secondaryColor:#fc8787;

$darkColor:#000000;
$whiteColor:#ffffff