@font-face {
  font-family: 'Gilroy Light';
  src: url(../../fonts/Gilroy-Light.otf);
}

@font-face {
  font-family: 'Gilroy ExtraBold';
  src: url(../../fonts/Gilroy-ExtraBold.otf);
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  background-color: #d9d9d9;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

button {
  padding: 12px 30px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-bottom: 5px solid #ffffff;
  font-family: "Gilroy Light";
  text-transform: uppercase;
  font-size: 2.5rem;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

button:hover,
button:focus {
  border-bottom: 5px solid #bdefff;
  background-color: #ffffff;
}

button:active {
  border-bottom: 5px solid #000000;
  color: #000000;
}

.designCircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.b-a, .bar, .bar:before, .bar:after {
  -webkit-transition: all .25s;
  transition: all .25s;
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  width: 30px;
  border-radius: 15px;
  background-color: #ffffff;
}

.menu-collapsed {
  -webkit-transition: all .25s;
  transition: all .25s;
  position: fixed;
  top: 10px;
  left: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;
}

.menu-collapsed ul {
  -webkit-transition: all 0s;
  transition: all 0s;
  position: fixed;
  left: -9000px;
}

.bar {
  position: fixed;
  left: 12px;
  top: 24px;
}

.bar:before {
  top: -8px;
}

.bar:after {
  top: 8px;
}

.b-a-expanded, .menu-expanded .bar:before, .menu-expanded .bar:after {
  -webkit-transition: all .25s;
  transition: all .25s;
  top: -0px;
}

.menu-expanded {
  -webkit-transition: all .25s;
  transition: all .25s;
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

.menu-expanded ul {
  -webkit-transition: all 0s;
  transition: all 0s;
  position: relative;
  left: 0;
  z-index: 2;
}

.menu-expanded .bar {
  background-color: transparent;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.menu-expanded .bar:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-expanded .bar:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header {
  height: 100vh;
}

header .menu-collapsed {
  display: none;
}

header .designLine {
  width: 100%;
  height: 40px;
  background-color: #000000;
}

header .navImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav {
  padding-top: 40px;
  margin-bottom: 200px;
}

header img {
  width: 275px;
  height: 100%;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header ul li {
  margin-left: 50px;
  font-family: "Gilroy Light";
  font-size: 1.8rem;
  text-transform: uppercase;
}

header ul a {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #000000;
  padding-bottom: 3px;
}

header ul a:hover {
  padding-bottom: 0px;
  border-bottom: 3px solid #000000;
}

header h1 {
  font-family: "Gilroy ExtraBold";
  font-size: 6.5rem;
  color: #000000;
}

header h2 {
  font-family: "acumin-pro-wide", sans-serif;
  font-size: 4.5rem;
  letter-spacing: 1px;
}

header h1,
header h2 {
  text-transform: uppercase;
}

header h1,
header h2,
header p {
  margin: 25px 0;
}

header p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  letter-spacing: 2px;
}

header p span {
  margin-left: 30px;
}

header p,
header h2 {
  text-align: right;
}

header .circleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .circleContainer .blueCircle {
  background-color: #bdefff;
}

header .circleContainer .blackCircle {
  background-color: #000000;
}

header .circleContainer .blueCircle,
header .circleContainer .blackCircle {
  margin-left: 50px;
  margin-top: 25px;
}

.about {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.about h3,
.about h4 {
  font-size: 7rem;
}

.about h3 {
  margin-left: 20px;
  margin-bottom: 60px;
}

.about h4 {
  color: #bdefff;
  position: absolute;
  top: 80px;
  z-index: -1;
}

.about .redCircle {
  background-color: #fc8787;
  position: absolute;
  top: 130px;
  left: 275px;
}

.about h3,
.about h4,
.about p {
  font-family: "Gilroy Light";
  text-transform: uppercase;
}

.about div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.about div p {
  width: 65%;
  font-size: 3rem;
  line-height: 40px;
  margin-right: 100px;
}

.about div p strong {
  font-family: "Gilroy ExtraBold";
}

.about div img {
  width: 300px;
  height: 100%;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.projects {
  position: relative;
  padding-top: 60px;
}

.projects div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects h3 {
  font-size: 7rem;
  font-family: "Gilroy Light";
  margin-bottom: 60px;
}

.projects h4 {
  font-family: "Gilroy ExtraBold";
  font-size: 5.5rem;
  margin-top: 120px;
  margin-bottom: 30px;
}

.projects h3,
.projects h4 {
  text-transform: uppercase;
}

.projects img {
  width: 60%;
  height: 300px;
  margin-left: 30px;
}

.projects .designCircle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #000000;
}

.projects .designCircle:first-child {
  margin-bottom: 60px;
}

.projects .projectLine {
  width: 100%;
}

.projects .projectLine,
.projects .oddLine,
.projects .evenLine {
  height: 8px;
  background-color: #fc8787;
}

.projects .oddLine,
.projects .evenLine {
  width: 40%;
}

.projects .oddGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects .oddGroup p:nth-child(3) {
  padding-left: 25%;
}

.projects .oddGroup p:nth-child(5) {
  text-transform: uppercase;
  font-family: "acumin-pro-wide", sans-serif;
  font-size: 2.5rem;
  margin-top: 30px;
  margin-bottom: 60px;
}

.projects .oddGroup button {
  margin-left: 60px;
}

.projects .oddGroup button a {
  text-decoration: none;
  color: white;
}

.projects .oddGroup button a:hover {
  color: #fc8787;
}

.projects .evenGroup p:nth-child(3) {
  padding-right: 25%;
}

.projects .evenGroup p:nth-child(5) {
  text-transform: uppercase;
  font-family: "acumin-pro-wide", sans-serif;
  font-size: 2.5rem;
  margin-top: 30px;
  margin-bottom: 60px;
  letter-spacing: 1px;
}

.projects .evenGroup button {
  margin-right: 60px;
}

.projects .evenGroup button a {
  text-decoration: none;
  color: white;
}

.projects .evenGroup button a:hover {
  color: #fc8787;
}

.projects p:nth-child(3) {
  font-family: "Gilroy Light";
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.skills {
  margin-top: 120px;
  padding-top: 60px;
  text-transform: uppercase;
}

.skills h3 {
  font-size: 7rem;
  font-family: "Gilroy Light";
  margin-bottom: 30px;
}

.skills .designLineThic,
.skills .designLineThin {
  width: 90%;
}

.skills .designLineThic {
  height: 35px;
  background-color: #000000;
}

.skills .designLineThin {
  height: 8px;
  background: #bdefff;
  margin-top: 10px;
}

.skills .skillsGrid {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px;
  grid-auto-rows: minmax(100px, auto);
}

.skills .icon {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .icon img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.skills .icon p {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.contact {
  margin-top: 180px;
  padding-top: 50px;
  position: relative;
}

.contact h3,
.contact h4 {
  font-size: 7rem;
}

.contact h4 {
  color: #bdefff;
  position: absolute;
  margin-bottom: 0px;
  top: 25px;
  z-index: -1;
}

.contact h3,
.contact h4,
.contact p {
  font-family: "Gilroy Light";
  text-transform: uppercase;
}

.contact form {
  margin-top: 120px;
}

.contact form .formTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.contact form .formTop input[type="email"],
.contact form .formTop input[type="text"] {
  border: none;
  background-color: unset;
  border-bottom: 8px solid #000000;
  width: 45%;
  padding-bottom: 10px;
  font-family: "Gilroy Light";
  font-size: 2rem;
  text-transform: uppercase;
}

.contact form .formBottom textarea {
  margin-top: 30px;
  resize: none;
  background-color: unset;
  width: 100%;
  margin-bottom: 50px;
  border: none;
  border-bottom: 8px solid #000000;
  font-family: "Gilroy Light";
  font-size: 2rem;
  text-transform: uppercase;
}

.contact .socialContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 90px;
}

.contact .socialIcons {
  width: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .socialIcons .fab {
  color: #000000;
  font-size: 4rem;
}

.contact .socialIcons .fab:hover {
  color: #fc8787;
}

.contact .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 60px;
  font-size: 3rem;
}

.contact .email a {
  color: #000000;
  text-decoration: none;
}

.contact .email a:active,
.contact .email a:hover {
  color: #fc8787;
}

.contact .email span {
  display: block;
}

.contact .email .designLine {
  width: 1px;
  background-color: #000000;
  height: 180px;
  margin: 0 15px;
}

footer {
  width: 100%;
  height: 180px;
}

footer img {
  width: 100%;
  height: 200px;
  padding-top: 60px;
}

@media (max-width: 923px) {
  .about div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about div p {
    margin-right: 0px;
    text-align: center;
    margin-top: 30px;
    width: 90%;
  }
  .about a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
  }
  .projects img {
    width: 40%;
  }
}

@media (max-width: 850px) {
  header .navImg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  header .navImg img {
    width: 100%;
    height: 270px;
  }
  header .navImg nav {
    margin-bottom: 30px;
  }
  header .navImg nav ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .navImg nav ul li {
    margin-left: unset;
  }
}

@media (max-width: 745px) {
  .contact .socialIcons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .socialIcons .fab {
    font-size: 3.5rem;
  }
}

@media (max-width: 690px) {
  header .circleContainer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .circleContainer .designCircle {
    margin-left: unset;
  }
  .projects div:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .projects div:nth-child(1) img {
    width: 100%;
    margin-left: unset;
    height: 250px;
    margin-bottom: 60px;
  }
  .projects .oddGroup p:nth-child(3),
  .projects .evenGroup p:nth-child(3) {
    font-size: 2rem;
  }
  .projects .oddGroup p:nth-child(5),
  .projects .evenGroup p:nth-child(5) {
    font-size: 2rem;
  }
  .projects .oddGroup button,
  .projects .evenGroup button {
    margin: 0 10px;
  }
  .skills .skillsGrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  header {
    padding-top: 25px;
  }
  header .navImg nav {
    display: none;
  }
  header .menu-collapsed {
    display: inline-block;
  }
  header .menu-collapsed ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .menu-collapsed ul li {
    margin-left: unset;
    padding-top: 30px;
    height: 100px;
  }
  header .menu-collapsed ul a {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
  }
  header h2 {
    font-size: 3.5rem;
  }
  .about {
    margin-top: 160px;
  }
  .about h3,
  .about h4 {
    margin-top: 120px;
  }
  .about .redCircle {
    display: none;
  }
  .projects .oddGroup,
  .projects .evenGroup {
    text-align: center;
  }
  .projects .oddGroup h4,
  .projects .evenGroup h4 {
    font-size: 3.5rem;
  }
  .projects .oddGroup p:nth-child(3),
  .projects .evenGroup p:nth-child(3) {
    padding: unset;
  }
  .projects .oddGroup .oddLine,
  .projects .oddGroup .evenLine,
  .projects .evenGroup .oddLine,
  .projects .evenGroup .evenLine {
    width: 100%;
  }
  .projects .circleContainer {
    display: none;
  }
  .skills .designLineThic,
  .skills .designLineThin {
    width: 100%;
  }
  .contact .socialContainer .email {
    padding-right: unset;
    font-size: 2rem;
  }
}

@media (max-width: 458px) {
  .projects .oddGroup button,
  .projects .evenGroup button {
    margin-top: 30px;
  }
}

@media (max-width: 420px) {
  .about {
    padding-bottom: unset;
  }
  .about h3,
  .about h4 {
    font-size: 5rem;
    text-align: center;
  }
  .about h4 {
    left: 20%;
  }
  .about div p {
    font-size: 2rem;
    line-height: 35px;
  }
  .about div img {
    width: 220px;
  }
  .about .redCircle {
    top: 115px;
    left: 290px;
  }
  .projects h3 {
    font-size: 5rem;
    margin-bottom: unset;
    text-align: center;
  }
  .skills h3 {
    font-size: 5rem;
    text-align: center;
  }
  .contact h3,
  .contact h4 {
    font-size: 5rem;
    text-align: center;
  }
  .contact h4 {
    left: 20%;
  }
  .contact form .formTop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact form .formTop input[type="email"],
  .contact form .formTop input[type="text"] {
    width: 100%;
  }
  .contact form .formTop input[type="text"] {
    margin-bottom: 30px;
  }
  .contact .socialIcons .fab {
    font-size: 2.2rem;
  }
}

@media (max-width: 363px) {
  header h1 {
    font-size: 5.5rem;
  }
  header p {
    font-size: 3rem;
    text-align: center;
  }
  .skills .skillsGrid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=styles.css.map */