@font-face {
    font-family: 'Gilroy Light';
    src: url(../../fonts/Gilroy-Light.otf);
}

@font-face {
    font-family: 'Gilroy ExtraBold';
    src: url(../../fonts/Gilroy-ExtraBold.otf);
}

@import './setup';
@import './variables';
@import './global';
@import './header';
@import './about';
@import './projects';
@import './skills';
@import './contact';